---
import Particle from "../components/Particle.astro"

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<Particle/>
	<body class="bg-slate-900 flex">
		<h1 class="
		from-blue-300  to-blue-600
		bg-gradient-to-br bg-clip-text
		text-transparent font-bold text-8xl
		m-auto mt-20">HAPPY BIRTHDAY JACOB</h1>
	</body>
	</html>

